{% block content %}
    <h1 class="title">{{ 'deck.list'|trans({}, 'ShuffleCardBundle') }}</h1>

    <ul id="deck-list">
        {% for deck in decks %}
            <li>
                <a href="{{ path('api_1_get_deck', {'id': deck.id}) }}">{{ deck.title }}</a>
                {#[<a href="{{ path('api_1_edit_decks', {'id': deck.id}) }}">{{ 'deck.edit.link'|trans({}, 'ShuffleCardBundle') }}</a>]#}
                {#[<a href="{{ path('api_1_remove_decks', {'id': deck.id}) }}">{{ 'deck.remove.link'|trans({}, 'ShuffleCardBundle') }}</a>]#}
            </li>
        {% else %}
            <li>{{ 'deck.list.empty'|trans({}, 'ShuffleCardBundle') }}</li>
        {% endfor %}
    </ul>
    <p>
        <a href="{{ path('api_1_new_deck') }}">{{ 'deck.new.link'|trans({}, 'ShuffleCardBundle') }}</a>
    </p>
{% endblock %}